.feed-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightblue;
}
.feed-sort-container{
    background-color: lightblue;
}
.feed-div{
    height:fit-content;
    flex: 1 0 1;
}
