.user-block{
    display:flex;
    flex-direction:row;
    padding:10px;
    box-shadow: 2px 2px 2px 2px;
}
.post-summary{
    margin: 10px;
    box-shadow:2px 2px 2px 2px;
    padding:10px;
    width:fit-content;
}
.poster-profile-pic {
    height:96px;
    width:96px;

}